#social_proxy_keys {
	margin-top: 10px;
}
#social_meta_broadcast .service-label,
#social_proxy_keys label {
	float: left;
	width: 135px;
	padding-top: 2px;
}
#social_meta_broadcast .broadcast-label {
	float: left;
}
#social_proxy_keys label {
	padding-top: 6px;
}
#social_proxy_keys input {
	width: 350px;
}
#social_meta_broadcast .social-toggle-label {
	margin-right: 10px;
}
#social_meta_broadcast .social-broadcast-options {
	position: relative;
	top: 2px;
}
.social-preview-counter {
	float: right;
	font-weight: normal;
	font-size: 12px;
	color: #aaa;
}
.form-table .social-preview-counter {
	float: none;
}
.form-table .social-preview-content {
	width: 99%;
	margin-bottom: 10px;
}
#social_error {
	background-color: #ffebe8;
	border: 1px solid #c00;
	margin: 5px 0 15px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;;
	padding: .6em;
	font-size: 12px;
	color: #333;
}
.social-broadcastable {
	display: block;
	float: left;
	width: 30%;
	margin: 5px 5px 5px 0;
	padding: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	line-height: 16px;
}
.social-broadcastable:hover {
	background-color: #eee;
}
.social-broadcastable img {
	float: left;
	margin-right: 5px;
}
.social-broadcastable input {
	float: left;
	margin: 7px 5px 0 0;
	width: auto;
}
.social-broadcastable span {
	position: relative;
	top: 5px;
}
.social-settings-connect {
	float: left;
	margin-right: 30px;
}
.social-login span {
	display: none;
}
.social-login {
	display: block;
	margin-bottom: 15px;
	width: 150px;
	height: 22px;
}
.social-disconnect {
	position: relative;
	top: 2px;
}
#social_xmlrpc {
	clear: both;
	margin-bottom: 15px;
}
#social_xmlrpc label {
	width: 15%;
}

/**
 * Twitter/Facebook Specific Styles
 */
#twitter_signin {
	background: url('social.png') 0 0;
}
#twitter_signin:hover {
	background-position: 0 -22px;
}
#twitter_signin:active {
	background-position: 0 -44px;
}
#facebook_signin {
	background: url('social.png') -150px 0;
}
#facebook_signin:hover {
	background-position: -150px -22px;
}
#facebook_signin:active {
	background-position: -150px -44px;
}
.social-settings-connect .social-twitter-icon,
.social-settings-connect .social-facebook-icon {
	display: block;
	height: 35px;
	margin-bottom: 10px;
}
.social-twitter-icon i,
.social-facebook-icon i {
    background: url('social.png') 0 -150px;
    display: block;
    float: left;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    line-height: 16px;
}
.social-facebook-icon i {
    background-position: 0 -250px;
}
.social-twitter-icon.big,
.social-facebook-icon.big {
    line-height: 30px;
}
.social-twitter-icon.big i,
.social-facebook-icon.big i {
    background-position: 0 -82px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
}
.social-facebook-icon.big i {
    background-position: -30px -82px;
}

#aggregation_log h5 {
    border-top: 1px solid #eee;
	font-size: 1em;
	font-weight: normal;
	line-height: 0.9em;
    padding: 10px 5px;
    margin: 0;
}
#aggregation_log h5:hover {
    background-color: #fff;
    cursor: pointer;
}
#aggregation_log .parent {
    padding: 5px;
}
#aggregation_log ul {
    list-style: disc inside;
	margin-left: 10px;
}
#aggregation_log ul ul {
    padding-left: 15px;
}