/**
 * Wrapping form
 */
.social-view {
	max-width: 60em;
}
.social-view-header {
	margin: 10px;
}
.social-view-header h2 {
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
}
.social-view-subtitle {
	color: #777;
	font-style: italic;
}
.social-mailchimp-link {
	background: url(mailchimp.gif) no-repeat;
	display: inline-block;
	height: 27px;
	overflow: hidden;
	text-indent: -999em;
	*text-indent: 0;
	font-size: 0;
	line-height: 0;
	vertical-align: middle;
	width: 107px;
}

#social_proxy_keys {
	margin-top: 10px;
}
#social_meta_broadcast .service-label,
#social_proxy_keys label {
	float: left;
	width: 135px;
	padding-top: 2px;
}
#social_meta_broadcast .broadcast-label {
	float: left;
}
#social_proxy_keys label {
	padding-top: 6px;
}
#social_proxy_keys input {
	width: 350px;
}
#social_meta_broadcast .social-toggle-label {
	margin-right: 10px;
}
#social_meta_broadcast .social-broadcast-options {
	position: relative;
	top: 2px;
}
.social-preview-counter {
	float: right;
	font-weight: normal;
	font-size: 12px;
	color: #aaa;
}
.form-table .social-preview-counter {
	float: none;
}
.form-table .social-preview-content {
	width: 99%;
	margin-bottom: 10px;
}
#social_error {
	background-color: #ffebe8;
	border: 1px solid #c00;
	margin: 5px 0 15px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;;
	padding: .6em;
	font-size: 12px;
	color: #333;
}

.social-accounts {
	margin: 10px 0;
}
.social-accounts ul {
	border-top: 1px solid #e5e5e5;
	font-size: 16px;
}
.social-accounts li {
	border-bottom: 1px solid #e5e5e5;
	height: 30px;
	line-height: 30px;
	margin: 0;
	padding: 5px 5px 5px 30px;
	position: relative;
}
.social-accounts a {
	font-weight: bold;
	text-decoration: none;
}
.social-accounts .social-twitter-icon,
.social-accounts .social-facebook-icon,
.social-accounts .disconnect {
	position: absolute;
	top: 11px;
}
.social-accounts .social-twitter-icon,
.social-accounts .social-facebook-icon {
	left: 5px;
}
.social-accounts .disconnect {
	right: 5px;
}

.social-broadcastables {
	border-top: 1px solid #e5e5e5;
	margin-bottom: 10px;
}
.social-broadcastables li {
	margin-bottom: 0;
}
.social-broadcastable {
	border-bottom: 1px solid #e5e5e5;
	display: block;
	height: 24px;
	line-height: 24px;
	padding: 5px 10px;
}
.social-broadcastable:hover {
	background: #eaf2f9;
}
.social-broadcastable img {
	margin: 0 10px;
}
.social-broadcastable input,
.social-broadcastable img {
	vertical-align: middle;
}
.social-login span {
	display: none;
}
.social-login {
	display: inline-block;
	margin: 2px;
	width: 150px;
	height: 22px;
}
.social-disconnect {
	position: relative;
	top: 2px;
}

.social-collapsible {
	margin: 20px 0;
}
.social-collapsible > .social-title {
	background: url(e5e5e5.gif) repeat-x 0 center;
	font-size: 14px;
	margin: 0 10px 20px;
}
.social-collapsible > .social-title a {
	background: #fff url(toggle.gif) no-repeat 0 0;
	display: -moz-inline-box; /* FF2 */
	display: inline-block; /* Standard. IE8+, Saf, FF3+ */
	padding: 0 5px 0 15px;
	text-decoration: none;
}
.social-collapsible .social-content {
	display: none;
	overflow: hidden;
	zoom: 1;
}
.social-collapsible.social-open .social-title a {
	background-position: 0 -100px;
}
.social-collapsible.social-open .social-content {
	display: block;
}

/**
 * Twitter/Facebook Specific Styles
 */
#twitter_signin {
	background: url('social.png') 0 0;
}
#twitter_signin:hover {
	background-position: 0 -22px;
}
#twitter_signin:active {
	background-position: 0 -44px;
}
#facebook_signin {
	background: url('social.png') -150px 0;
}
#facebook_signin:hover {
	background-position: -150px -22px;
}
#facebook_signin:active {
	background-position: -150px -44px;
}
.social-settings-connect .social-twitter-icon,
.social-settings-connect .social-facebook-icon {
	display: block;
	height: 35px;
	margin-bottom: 10px;
}
.social-twitter-icon i,
.social-facebook-icon i {
    background: url('social.png') 0 -150px;
    display: block;
    float: left;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    line-height: 16px;
}
.social-facebook-icon i {
    background-position: 0 -250px;
}
.social-twitter-icon.big,
.social-facebook-icon.big {
    line-height: 30px;
}
.social-twitter-icon.big i,
.social-facebook-icon.big i {
    background-position: 0 -82px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
}
.social-facebook-icon.big i {
    background-position: -30px -82px;
}

#social_meta_aggregation_log .inside {
	margin: 0;
	padding: 0;
}
.social-meta-box-block {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #dfdfdf;
	padding: 12px 12px 6px 12px;
}
.social-meta-box-block h4,
.social-meta-box-block p,
.social-meta-box-block ul,
.social-meta-box h4,
.social-meta-box p,
.social-meta-box ul {
	margin: 0 0 8px 0;
}

.mar-top-none {
	margin-top: 0 !important;
}

.social-kv {
	margin-bottom: 10px;
}
.social-kv dt {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.social-kv dd,
.social-kv code {
	font-size: 16px;
}

.social-callout,
.social-note {
	-moz-border-radius: 5px; /* FF1+ */
	-webkit-border-radius: 5px; /* Saf3+, Chrome */
	-khtml-border-radius: 5px; /* Konqueror */
	border-radius: 5px; /* Standard. IE9 */
	/**
	 * @bugfix border-radius background bleed
	 * @see http://tumble.sneak.co.nz/post/928998513/fixing-the-background-bleed
	 */
	-webkit-background-clip: padding-box;
	margin: 10px 0;
	padding: 10px;
}
.social-callout {
	background: #f5f5f5;
	border: 1px solid #ddd;
}
.social-note {
	background: #fff;
	border: 1px solid #e5db6c;
}
.social-note .social-title,
.social-callout .social-title {
	font: normal normal 16px/1.2 "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0 0 10px;
}

#aggregation_log {
	margin-bottom: 10px;
}
#aggregation_log h5 {
    border-top: 1px solid #eee;
	font-size: 1em;
	font-weight: normal;
	line-height: 0.9em;
    padding: 8px 5px;
    margin: 0;
}
#aggregation_log h5:hover {
    background-color: #fff;
    cursor: pointer;
}
#aggregation_log ul {
	color: #666;
	font-size: 0.9em;
    list-style: disc inside;
	margin: 0px 15px 5px 15px;
}


.cf-clearfix {
	display: block;
	zoom: 1;
}
.cf-clearfix:after {
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	clear: both;
	visibility: hidden;
}